{% load djinn_auth_tags contentblock_tags %}


{% for liveblogupdate in liveblogupdates_qs|slice:updates_per_page_slice %}
<a class="liveblog-anchor" id="{{ liveblogupdate.id }}"></a>
<article class="liveblogupdate">
    <time timestamp="{{ liveblogupdate.created_as_isoformat }}" datetime="{{ liveblogupdate.publishing_date }}">{{ liveblogupdate.publishing_date|timesince }}</time>
    <h3>{{ liveblogupdate.title}}</h3>
{#         Men wil toch graag dat iemand die liveblog rechten heeft ook updates van anderen mag bewerken #}
{#        {% if_has_perm liveblogupdate request.user 'change' %}#}
        {% if_has_perm liveblogupdate.liveblog request.user 'djinn_news.change_liveblogupdate' %}
            <a href="{% url 'djinn_news_edit_liveblogupdate' liveblogupdate.id %}">Bewerken</a>
        {% endif_has_perm %}
    {{ liveblogupdate.text|safe }}

    {% if liveblogupdate.show_images %}
        {% for lbu_image in liveblogupdate.images.all %}
            <img src="{% fetch_image_url lbu_image 'liveblogupdate_img' 'liveblogupdate' %}" class="media-full">
        {% endfor %}
    {% endif %}
</article>
{% endfor %}

{% if liveblogupdates_qs.count > updates_per_page %}
<button class="btn btn-mini js-get-more">Laad oudere liveblog-updates
</button>
    <script>
        $(document).ready(function(){
            /* oudere entries laden */
             $('.js-get-more').click(function(e){
                var tgt = e.currentTarget;
                var URL = '{% url "djinn_news_liveblogupdateloadmore_ajax" object.id %}?olderthan_ts={{ olderthan_ts }}';

                $.ajax({
                    url: URL,
                    success: function(data) {
                        $(tgt).replaceWith(data);
                    }
                });
             });
        })
        //

    </script>
{% endif %}
