{% load i18n humanize auth_tags djinn_contenttypes contentblock_tags %}

{#<script language="javascript">#}
{#$(function(){#}
{#  $(".js-get-articles").click(function(){#}
{#    $(".js-add-articles").load("/includes/about-info.html");#}
{#  });#}
{#});#}
{#</script>#}

{% if not view.parentusergroup %}
<div class="widget">
{% endif %}

<section id="aside-liveblogs" class="editmode">

  <header>
      <h1>{% if view.parentusergroup %}{% trans "Liveblogs in this group" %}{% else %}{% trans "Liveblog(s)" %}{% endif %}</h1>
{# Niet nodig vanaf homepage een Liveblog te starten (20210319) #}
{#      <span class="controls">#}
{##}
{#      {% with view.groupprofile as permission_object %}#}
          {#      add liveblog to group or to homepage (if view.parentusergroup is empty) #}
{#          {% ifpermission permission_object|default:"" request.user 'djinn_news.add_liveblog' %}#}
{#            <a href="{% if view.parentusergroup %}{% url 'djinn_news_add_liveblog' view.parentusergroup %}{% else %}{% url 'djinn_news_add_liveblog' %}{% endif %}"#}
{#               data-toggle="tooltip"#}
{#               class="add-no-inline"#}
{#               title="{% trans 'Add liveblog to group' %}"#}
{#               >#}
{#              <i class="icon-plus"></i>#}
{#            </a>#}
{#          {% endifpermission %}#}
{#      {% endwith %}#}
{#      </span>#}
  </header>

  {% if view.liveblogs|length > 0 %}

  <ul class="simple-list simple-list-thumbs liveblog-list">
    {% for highlight in view.liveblogs %}
    <li>
        {# BEGIN liveblog titel regel met op rechts een 'Update toevoegen' (+)-icoontje #}
    <div class="clearfix pb-15">
        <div class="simple-list-thumb-container">
            <div class="simple-list-thumb" style="background-image: url('{% fetch_image_url highlight.content_object.home_image 'statusupdate_full' 'liveblogupdate' %}')">
            </div>
            <span class="red_badge as_badge">Liveblog</span>
            <h2>
            <a href="{% url 'djinn_news_view_liveblog' highlight.content_object.id highlight.content_object.slug %}" class="float-left">
                {{ highlight.content_object.title|abbreviate:50 }}
            </a>
            </h2>
        </div>
    </div>
      {# END liveblog titel regel met op rechts een 'Update toevoegen' (+)-icoontje #}
    {# BEGIN (09-04-2021) omschrijving-tekst niet in de viewlet maar op de detailpagina #}
    {# <p>{{ highlight.content_object.text|abbreviate:500|safe }}</p>#}
    {# END (09-04-2021) #}
    <div style="position: relative;">
    {#                  add liveblog to group or to homepage (if view.parentusergroup is empty)#}


            {% ifpermission highlight.content_object request.user 'djinn_news.add_liveblogupdate' %}
{#            <div style="position:absolute;right: 0">#}
             <div style="float: right">

            <a href="{% url 'djinn_news_add_liveblogupdate' highlight.content_object.id %}"
               data-toggle="tooltip"
               class="add-no-inline"
               title="{% blocktrans %}Liveblog-update toevoegen aan {% endblocktrans %}{{ highlight.content_object.title|abbreviate:50 }}"
               >
              <i class="icon-plus"></i>
            </a>
            </div>

            {% endifpermission %}
{#        <div id="get-article-{{ highlight.id }}"></div>#}
{#        <div class="js-add-articles"></div>#}
{#        #}

        <div>
        {% for liveblogupdate in highlight.content_object.published_liveblogupdates.all|slice:":3" %}
          {% include 'djinn_news/snippets/liveblogupdate_short.html' %}
        {% endfor %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% if view.show_more %}
  <a href="{% url 'haystack_search' %}?meta_type=liveblog">
    {% trans "All liveblogs" %}
  </a>
  {% endif %}

  {% else %}
  
  <div class="alert alert-info" id="news-alert">
    {% if not view.parentusergroup %}
        {% trans "No liveblog" %}
    {% else %}
        {% trans "No liveblog in this group" %}
    {% endif %}
  </div>
  
  {% endif %}
  
</section>

{% if not view.parentusergroup %}
</div>
{% endif %}