{% extends "djinn_contenttypes/base_edit.html" %}

{% load i18n bootstrap auth_tags %}
{% load pusimpletext_tags %}

{% block formfields %}

{{ form.title|bootstrap }}

{{ form.text|bootstrap }}

{#{{ form.documents|bootstrap }}#}

{#{{ form.images|bootstrap }}#}

{{ form.userkeywords|bootstrap }}

{#{{ form.parentusergroup|bootstrap }}#}

<fieldset id="advanced">

  <section class="control-group" id="settings">
    <label class="control-label">{% trans "Other settings" %}</label>
    {{ form.comments_enabled|bootstrap }}
{#    {{ form.show_images|bootstrap }}#}
  </section>

  {{ form.owner|bootstrap }}

  <section class="control-group">
    <label class="control-label">{% trans "Display" %}</label>
    {{ form.state|bootstrap }}
  </section>

  <section class="control-group" id="publishing">
    <label class="control-label">{% trans "Publishing" %}</label>
    {{ form.publish_from|bootstrap }}
    {{ form.publish_to|bootstrap }}
    {{ form.remove_after_publish_to|bootstrap }}
    <div><br></div>
    {% ifpermission object request.user "djinn_news.manage_news" %}
    {{ form.home_image|bootstrap }}
    <div><br></div>
{#    {{ form.is_sticky|bootstrap }}#}
  {{ form.shares|bootstrap }}

{#  Toch maar uit. Feedback van 7 mei #}
{#  {{ form.related|bootstrap }}#}

    {% endifpermission %}

{#    {% ifpermission None request.user "auth.manage_feeds" %}#}
{#    <div><br></div>#}
{#    <div class="control-group">#}
{#        <label class="control-label">{% trans "Weergave op infoscherm(en)" %}</label>#}
{#        <br>#}
{#        {{ form.publish_for_feed|bootstrap }}#}
{#        <div class="feed-options{% if not form.instance.publish_for_feed %} hide{% endif %}">#}
{#        {{ form.description_feed|bootstrap }}#}
{##}
{#        {{ form.extra_media }}#}
{#        {{ form.image_feed_hidden }}#}
{#        {{ form.image_feed|bootstrap }}#}
{#        {% if form.instance.feedimg_too_small %}#}
{#            <p class="warning">{% trans "Opgeslagen afbeelding is te klein. Moet minimaal 1920x500px zijn." %}</p>#}
{#        {% endif %}#}
{#        {{ form.image_feed_crop|bootstrap }}#}
{#        {% if form.instance.feedimg_selection_too_small %}#}
{#            <p class="warning">{% trans "Selectie uit de afbeelding is eigenlijk te klein. Moet minimaal 1920x500px zijn." %}</p>#}
{#        {% endif %}#}
{#        <script>#}
{#            $(document).ready(function() {#}
{#                image_cropping.init();#}
{#            });#}
{#        </script>#}
{##}
{#        {{ form.use_default_image|bootstrap }}#}
{##}
{#        <div class="control-group">#}
{#            <label class="control-label">{% trans "infoscherm voorbeeld" %}</label>#}
{#            {% if form.instance.id %}#}
{#                <iframe width="600" height="400" src="{% url 'djinn_contenttypes_preview' form.instance.ct_name form.instance.id %}" frameborder=0 name="feed_preview" id="feed_preview_id">#}
{#            {% else %}#}
{#                <p class="warning">{% trans "nog niet beschikbaar" %}</p>#}
{#            {% endif %}#}
{#            </iframe>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endifpermission %}#}

  </section>
  
</fieldset>

{% endblock %}
