{% extends "djinn_contenttypes/base_detail_nd.html" %}
{% load i18n auth_tags djinn_contenttypes djinn_auth_tags contentblock_tags search_tags liveblog_tags %}

{% block title %}{% endblock %}
{% block header-actions %}{% endblock %}


{% block content %}
    <div class="liveblog-header">
    <div class="simple-list-thumb" style="background-image: url('{% fetch_image_url object.home_image 'display' 'liveblogupdate' %}')"></div>
    <span class="red_badge as_badge">Liveblog</span>
    <h2>{% title object %}</h2>
    </div>
    <div style="position: relative">
        <p>{{ object.text|default:""|safe }}</p>
    </div>
    <div style="position: relative">
        {% if_has_perm object request.user 'djinn_news.add_liveblogupdate' %}
        <span class="controls" style="position: absolute;top: 0;right: 0">
        <a href="{% url 'djinn_news_add_liveblogupdate' object.id %}"
{#           data-toggle="tooltip"#}
           class="add-no-inline"
           title="{% trans 'Liveblog-update toevoegen' %}"
           >
          <i class="icon-plus"></i>
        </a>
        </span>
        {% endif_has_perm %}
    </div>
    <div id="js-new-articles-button">
    </div>
    <div class="liveblog-detail">

        {% with object.published_liveblogupdates.all as liveblogupdates_qs %}
            {% if request.GET.nopager == 'yes' %}
            {% with updates_per_page_slice=":1000" updates_per_page=1000 olderthan_ts=liveblogupdates_qs.999.created_as_isoformat %}
                {% include "djinn_news/snippets/liveblogupdateloadmore.html" %}
            {% endwith %}
            {% else %}
            {% with updates_per_page_slice=":10" updates_per_page=10 olderthan_ts=liveblogupdates_qs.9.created_as_isoformat %}
                {% include "djinn_news/snippets/liveblogupdateloadmore.html" %}
            {% endwith %}
            {% endif %}
        {% endwith %}

    </div>

{#    {% if object.show_images and object.home_image %}#}
{#    <section id="images">#}
{#        <div class="imgDisplay">#}
{#            <img id="display-image" src="{{ object.home_image.get_display_url }}"/>#}
{#        </div>#}
{#    </section>#}
{#    {% endif %}#}
{##}
{#    <ul>#}
{#    {% for liveblogupdate in object.published_liveblogupdates.all %}#}
{#        {% include 'djinn_news/snippets/liveblogupdate.html' %}#}
{#    <section class="intro">#}
{#        <p>{{ liveblogupdate.text|default:""|safe }}</p>#}
{#        <p>Hier de liveblog updates met een auto-aanvullen ding</p>#}
{#    </section>#}
{#    {% endfor %}#}
{#    </ul>#}

{% endblock %}


{% block right-pane-extra %}

    {% showuserkeywords object %}


    {% all_liveblogupdates object "Alle updates in dit liveblog" %}

{#    {% connected_items object "Kijk ook eens bij" %}#}
{#    {% relatedcontent object "Misschien interessant" "liveblog news" %}#}
{#    {% relatedcontent object "En verder nog op het intranet" "userprofile groupprofile product article" %}#}

{% endblock %}

{% block extra_js %}
    <script>
        function refresh() {
            var newest_ts = $(".liveblog-detail .liveblogupdate").find("time").attr("timestamp");
            var URL = '{% url "djinn_news_liveblogupdatecount_ajax" object.id %}?newerthan_ts=' + newest_ts;
            $.ajax({
                url: URL,
                success: function(data) {
                    $('#js-new-articles-button').html(data);
                }
            });
        };
        $(document).ready(function(){
            /* check of er nieuwe liveblog-updates zijn en toon dan de laden-button */
            refresh();
            setInterval("refresh()", 10000);
        })
        //
    </script>

{% endblock %}