{% extends "djinn_contenttypes/base_detail_nd.html" %}
{% load i18n auth_tags djinn_contenttypes djinn_auth_tags contentblock_tags search_tags %}

{% block title %}{% title object %}{% endblock %}
{% block header-actions %}
    {% if_has_perm object request.user 'change' %}
        <span class="controls">
        <a href="{% url 'djinn_news_add_liveblogupdate' object.id %}"
{#           data-toggle="tooltip"#}
           class="add-no-inline"
           title="{% trans 'Add update' %}"
           >
          <i class="icon-plus"></i>
        </a>
        </span>
        {% endif_has_perm %}
{% endblock %}



{% block content %}
    <p>{{ object.text|default:""|safe }}</p>
    <div id="js-new-articles-button">
    </div>
    <div class="liveblog-detail">
        {% for liveblogupdate in object.published_liveblogupdates.all %}
        <article class="liveblogupdate">
            <time timestamp="{{ liveblogupdate.created_as_isoformat }}" datetime="{{ liveblogupdate.publishing_date }}">{{ liveblogupdate.publishing_date|timesince }}</time>
            <h3>{{ liveblogupdate.title}}</h3>
                <a href="{% url 'djinn_news_edit_liveblogupdate' liveblogupdate.id %}">Update</a>
            {{ liveblogupdate.text|safe }}

            {% for lbu_image in liveblogupdate.images.all %}
                <img src="{% fetch_image_url lbu_image 'display' 'liveblogupdate' %}" class="media-full">
            {% endfor %}
        </article>
        {% endfor %}
    </div>

{#    {% if object.show_images and object.home_image %}#}
{#    <section id="images">#}
{#        <div class="imgDisplay">#}
{#            <img id="display-image" src="{{ object.home_image.get_display_url }}"/>#}
{#        </div>#}
{#    </section>#}
{#    {% endif %}#}
{##}
{#    <ul>#}
{#    {% for liveblogupdate in object.published_liveblogupdates.all %}#}
{#        {% include 'djinn_news/snippets/liveblogupdate.html' %}#}
{#    <section class="intro">#}
{#        <p>{{ liveblogupdate.text|default:""|safe }}</p>#}
{#        <p>Hier de liveblog updates met een auto-aanvullen ding</p>#}
{#    </section>#}
{#    {% endfor %}#}
{#    </ul>#}

{% endblock %}


{% block right-pane-extra %}

    {% showuserkeywords object %}

    {% connected_items object "Kijk ook eens bij" %}

    {% relatedcontent object "Misschien interessant" "article" %}

    {% relatedcontent object "En verder nog op het intranet" "userprofile groupprofile product" %}

{% endblock %}

{% block extra_js %}
    <script>
        function refresh() {
            var newest_ts = $(".liveblog-detail .liveblogupdate").find("time").attr("timestamp");
            var URL = '{% url "djinn_news_liveblogupdatecount_ajax" object.id %}?newerthan_ts=' + newest_ts;
            $.ajax({
                url: URL,
                success: function(data) {
                    $('#js-new-articles-button').html(data);
                }
            });
        };
        $(document).ready(function(){
            /* nieuwe entries laden */
            {# $('.js-get-updates').click(function(){#}
            {# #}
                {#$('.js-new-articles').load(URL).fadeIn(600000);#}
            {#    location.reload();#}
            {# }); #}
            refresh();
            setInterval("refresh()", 10000);
        })
        //
    </script>

{% endblock %}