{% extends "djinn_contenttypes/base_edit.html" %}

{% load i18n bootstrap auth_tags %}
{% load pusimpletext_tags %}

{% block formfields %}

{{ form.title|bootstrap }}

{{ form.text|bootstrap }}

{{ form.documents|bootstrap }}

{{ form.images|bootstrap }}

{{ form.userkeywords|bootstrap }}

{{ form.parentusergroup|bootstrap }}

<fieldset id="advanced">

  <section class="control-group" id="settings">
    <h3>{% trans "Other settings" %}</h3>
    {{ form.comments_enabled|bootstrap }}
    {{ form.show_images|bootstrap }}
  </section>

  {{ form.owner|bootstrap }}

  <section class="control-group">
    <h3>{% trans "Display" %}</h3>
    {{ form.state|bootstrap }}
  </section>

  <section class="control-group" id="publishing">
    <h3>{% trans "Publishing" %}</h3>
    {{ form.publish_from|bootstrap }}
    {{ form.publish_to|bootstrap }}
    {{ form.remove_after_publish_to|bootstrap }}
    <div><br></div>
    {% ifpermission object request.user "djinn_news.manage_news" %}
    {{ form.highlight_from|bootstrap }}
    {{ form.home_image|bootstrap }}
    <div><br></div>
    {{ form.is_sticky|bootstrap }}
    {% endifpermission %}

    {% ifpermission None request.user "auth.manage_feeds" %}
    <h3>{% trans "Weergave op infoscherm(en)" %}</h3>
    <div><br></div>
    <div>
        {{ form.publish_for_feed|bootstrap }}
        <div class="feed_options{% if not form.instance.publish_for_feed %} hide{% endif %}">
        {{ form.description_feed|bootstrap }}

        {{ form.home_image_hidden }}
        {{ form.home_image_feed_crop|bootstrap }}
        {{ form.extra_media }}
        <script>
            image_cropping.init();
        </script>
        <div class="control-group">
            <label class="control-label">{% trans "infoscherm voorbeeld" %}</label>
            <iframe width="720" height="460" src="{% url 'djinn_contenttypes_share' form.instance.ct_name form.instance.id %}" frameborder=0 name="feed_preview" id="feed_preview_id">
            </iframe>
        </div>
        </div>
    </div>
    {% endifpermission %}

  </section>
  
</fieldset>

{% endblock %}
